<!DOCTYPE html>
<html>
<head>
<style>
td.a {
  white-space: nowrap;
}

td.b {
  white-space: pre-wrap;
  width:200px;
}

td.c {
  white-space: pre-wrap;
  width:200px;
}
</style>
</head>


<div class="container">

    <div
        style="margin-top: 25px;
                margin-bottom:10px ;">
        <button type="button" class="btn btn-primary" 
        routerLink="/wat"
        >Add Activity</button>
        <button type="button" class="btn btn-primary"style="margin-left: 890px;"
        (click)="download()"
        >Export Data</button> 
    </div>
    <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Activity Date</th>
            <th scope="col">Site</th>
            <th scope="col">Tower</th>
            <th scope="col">Status</th>
            <th scope="col">Details</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let obj of userData">
            <td>{{obj.Activitydate}}</td>
            <td class="b">{{obj.site}}</td>
            <td>{{obj.tower}}</td>
            <td>{{obj.status}}</td>
            <td class="c">{{obj.Details}}</td>
            <td>
                <button type="button" class="btn btn-link"style="margin-left: 100px;"
                (click)="onEdit(i)"
                routerLink="/wat/{{obj.id}}"
                >Update</button>
                <button type="button" class="btn btn-link" style="margin-right: 0px;"
                
                class="btn btn-outline-secondary"
                mwlConfirmationPopover
                
                [popoverMessage]="popoverMessage"
                placement="left"
                (confirm)="deletedata(obj.id)"
                (cancel)="cancelClicked = true"
                >Delete</button>
                  
            </td>
          </tr>

        </tbody>
      </table>
</div>
