<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand">LTI</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" style="border-left: 2.5px solid white; padding: 0 15px 0 15px;"
          *ngIf="isAuthenticated" 
          >
            <a class="nav-link font-weight-bold text-white"  routerLinkActive="router-link-active" >MLL Command Center</a>
         </li>
         <li class="nav-item" style="border-left: 2.5px solid white; padding: 0 15px 0 15px;"
         *ngIf="isAuthenticated" 
         >
          <a class="nav-link font-weight-bold text-white"  routerLinkActive="router-link-active" >Admin Panel</a>
        </li>
        <li class="nav-item" style="border-left: 2.5px solid white; padding: 0 15px 0 15px;" *ngIf="isAuthenticated">
          <a class="nav-link font-weight-bold text-white" routerLinkActive="router-link-active" routerLink='/watTable' 
          >Weekly Activity Tracker</a>
        </li>
        <li class="nav-item" style="border-left: 2.5px solid white; padding: 0 15px 0 15px;">
          <a class="nav-link font-weight-bold text-white"routerLinkActive="router-link-active" routerLink='/dashboard' >Weekly Activity Tracker DashBoard</a>
        </li>
        <li class="nav-item" style="border-left: 2.5px solid white; padding: 0 15px 0 15px;"
        *ngIf="!isAuthenticated"
        >
          <a class="nav-link font-weight-bold text-white"  routerLinkActive="router-link-active" routerLink='/auth' >Login</a>
        </li>
        
          
        </ul>  
        <ul class="nav navbar-nav navbar-right"
        style="margin-left: auto;"
        >
          <li class="nav-item" *ngIf="isAuthenticated" >
            <a class="nav-link font-weight-bold"  
            style="cursor: pointer;"
            routerLinkActive="router-link-active" routerLink='/auth'
            (click)="onLogout()"
            >Logout</a>
          </li>
        </ul>  
      </div>
    </div>
  </nav>
</header>
<router-outlet></router-outlet>
