<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">LTI</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" style="border-left: 2.5px solid white; padding: 0 15px 0 15px;">

            <a class="nav-link font-weight-bold text-white" href="#" routerLinkActive="router-link-active" >MLL Command Center</a>

         </li>
         <li class="nav-item" style="border-left: 2.5px solid white; padding: 0 15px 0 15px;">

          <a class="nav-link font-weight-bold text-white" href="#" routerLinkActive="router-link-active" >Admin Panel</a>

       </li>
       <li class="nav-item" style="border-left: 2.5px solid white; padding: 0 15px 0 15px;">

        <a class="nav-link font-weight-bold text-white" href="#" routerLinkActive="router-link-active" >Weekly Activity Tracker</a>

     </li>
          
        </ul>
        <!-- <div class="d-flex">
  
            <ul class="navbar-nav float-right">
                <li class="nav-item" style="padding: 0 2px 0 2px;">
                   <table cellpadding="0" cellspacing="0">
                      <tr>
                         <td >  <a class="nav-link text-white" href="#" style="padding:0px">Welcome</a> </td>
                         <td  style="width: 60px;padding-right:10px;"><a class="nav-link text-white" href="#" style="padding:0px" >Logout</a> </td>
                      </tr>
                      <tr>
                         <td colspan="2"><a class="nav-link text-white" href="#" style="padding:0px">Last Updated On:</a></td>
                      </tr>
                   </table>
                </li>
             </ul>
        </div> -->
        
      </div>
    </div>
  </nav>
</header>

<app-weekly-activity-tracker></app-weekly-activity-tracker>
