<div class="container">
    <h2 style="margin: 45px;">Weekly Activity Tracker</h2>
    <hr>
        <form style="margin:35px" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="tower">Tower</label>
                <select class="form-control" id="tower" formControlName="tower"> 
                  <option>Please Select</option> 
                  <option
                  *ngFor="let t of tower"
                  >
                  {{t.towername}}
                  </option>
                  
                  
                </select>
                <span 
                *ngIf="!signupForm.get('tower').valid && signupForm.get('tower').touched"
                class="help-block">Please Select a Valid Tower</span>
              </div>
              <div class="form-floating mb-3">
                <label for="site">Public Id</label>
                <input type="public_id" class="form-control" id="public_id"
                formControlName="public_id"
                >
                <span
                class="help-block"
                *ngIf="!signupForm.get('public_id').valid && signupForm.get('public_id').touched"
              
                >
                Please Enter Valid Site
                </span>
                
              </div>
            <div class="form-floating mb-3">
                <label for="site">Site</label>
                <input type="text" class="form-control" id="site"
                formControlName="site"
                >
                <span
                class="help-block"
                *ngIf="!signupForm.get('site').valid && signupForm.get('site').touched"
                style="background-color: solid red;"
                >
                Please Enter Valid Site
                </span>
                
              </div>
              <div class="form-floating">
                <label for="taskNumber">Task Number</label>
                <input type="text" class="form-control" id="task" formControlName="tasknumber">
                <span
                class="help-block"
                *ngIf="!signupForm.get('tasknumber').valid && signupForm.get('tasknumber').touched"
                >
                Please Enter Valid Task
                </span>
            </div>
            <div class="form-floating mb-3" style="margin-top: 15px;">
                <label for="detail">Details</label>
                <textarea class="form-control" id="Details" rows="5" formControlName="Details"></textarea>
            </div>
            
            <div class="form-group">
              <label>Received On</label>
              <div>
              <input class="form-control" type="datetime-local" value="" id="Receiveddate"
              formControlName="Receiveddate"
              [max]='dateLimit'
              required
              >
              </div>
              </div>
              <div class="form-group">
                <label>Activity Date</label>
                <div>
                <input class="form-control" type="datetime-local" value="" id="Activitydate"
                formControlName="Activitydate"
                [min]="dateLimit"
                >
                 
                </div>
                </div>
            <div class="form-group">
                <label for="Resources">Planned Resources</label>
                <select class="form-control" id="Resources" formControlName="Resources">
                  <option >Please Select</option>  
                  <option value="legacy">Legacy</option>
                  <option value="mes">MES</option>
                  
                </select>
                <span
                class="help-block"
                *ngIf="!signupForm.get('Resources').valid && signupForm.get('Resources').touched"
                >
                Please Select Valid Planned Resources
                </span>
              </div>
              <div class="form-group">
                <label for="Responsible">Responsible</label>
                <select class="form-control" id="Responsible" formControlName="Responsible"> 
                  <option >Please Select</option>  
                  <option value="legacy">Legacy</option>
                  <option value="mes">  MES</option>
                </select>
                <span
                class="help-block"
                *ngIf="!signupForm.get('Responsible').valid && signupForm.get('Responsible').touched"
                >
                Please Select Valid Option
                </span>
                
              </div>
              <div class="form-group">
                <label for="status">Status</label>
                <select class="form-control" id="status" formControlName="status">
                  <option >Please Select</option>  
                  <option value="pending">{{status[0]}}</option>
                  
                </select>
                <span
                class="help-block"
                *ngIf="!signupForm.get('status').valid && signupForm.get('status').touched"
                >
                Please Select Valid Option
                </span>
                
              </div>
              

              
               
                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm">
                        <button type="submit" class="btn btn-success"
                        [disabled]="!signupForm.valid"
                        >Save Activity</button>
                      </div>
                      <div class="col-sm"
                      style="text-align: end;"
                      >
                        <button type="button" class="btn btn-primary"
                        routerLink="/watTable"
                        >Back</button>
                      </div>
                    </div>
                    
                    
                  
                 
    
                  </div>

                
                 
                  
                

              
               
              

        </form>
</div>
