<div class="container">
    <div class="main-timeline">
    
                            <!-- start experience section-->
                            <div class="timeline" *ngFor="let user of timeline">
                                <div class="icon"></div>
                                <div class="date-content">
                                    <div class="date-outer">
                                        <span class="date">
                                                <span class="month">Event Date</span>
                                        <span class="year">{{user.activityDate}}</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="timeline-content">
                                    <h5 class="title">{{user.details}}</h5>
                                    <p class="description">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur ex sit amet massa scelerisque scelerisque. Aliquam erat volutpat. Aenean interdum finibus efficitur. Praesent dapibus dolor felis, eu ultrices elit molestie.
                                    </p>
                                </div>
                            </div>
                            <!-- end experience section-->
    
                           
                            <!-- end experience section-->
    
                        </div>
    </div>