<div class="style">

    <div class="container py-5">

        <div class="row text-center text-white mb-5">
            <div class="col-lg-8 mx-auto">
                </div>
            </div><!-- End -->
    
    
            <div class="row">
                <div class="col-lg-7 mx-auto"
                >
                    
                    <!-- Timeline -->
                    <ul class="timeline" 
                    
                    >
                        <li class="timeline-item bg-white rounded ml-3 p-4 shadow" *ngFor="let user of timelineUser">
                            <div class="timeline-arrow"></div>
                            <h2 class="h5 mb-0">Title of section 1</h2><span class="small text-gray"><i class="fa fa-clock-o mr-1"></i>{{user.activityDate | date:'fullDate'}}</span>
                            <p class="text-small mt-2 font-weight-light">{{user.details}}</p>
                        </li>
                    </ul><!-- End -->
    
                </div>
            </div>
        </div>
</div>
